<div class="experience card">
  <div class="columnLine">
    <div class="number">
      {{ number }}
    </div>
  </div>
  <div class="content">
    <div class="name">
      <a [href]="link" target="_blank">{{ name }}</a>
    </div>
    <div class="d-flex">
      <div class="jobTitle">{{ jobTitle }}</div>
      <div class="date">{{ date }}</div>
    </div>
    <div class="work">
      <div class="title">工作內容</div>
      <div class="listContent">
        <p *ngFor="let item of work">{{ item }}</p>
      </div>
      <div class="title">開發 / 維護 專案</div>
      <div class="listContent">
        <ng-container *ngFor="let item of project">
          <a *ngIf="item?.url" [href]="item?.url" target="_blank">
            {{ item?.name }}
          </a>
          <p *ngIf="!item?.url">
            {{ item?.name }}
          </p>
          <!-- {{ item.name }} -->
        </ng-container>
        <!-- <p *ngFor="let item of project">
          
          {{ item | json }}
        </p> -->
      </div>
    </div>
  </div>
</div>